@charset "UTF-8";

@font-face{
    font-family:Tangerine;
    src: url(../fontes/Tangerine-Regular.ttf) format(truetype);
    font-weight: normal;
}

@font-face{
    font-family:Kaushan;
    src: url(../fontes/KaushanScript-Regular.ttf) format(truetype);
    font-weight: normal;
}

:root{
    --fonte1: Times, Geneva, Tahoma, sans-serif;
    --fonte2: 'Tangerine', sans-serif;
    --fonte3: 'Kaushan', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover  {
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 120%;
    padding-left: 2%;
    font-family: var(--fonte2);
    font-size: 205%;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.429);
    color: white;
}

section.imagem > p{
   display: inline-block;
   padding: 5px;
    background-color: rgba(0, 0, 0, 0.189);
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}